<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="{{url_for('home')}}" class="logo"> Blog </a>
        <nav>
          <ul>
            {% for category in categories() %}
            <li>
              <a href="{{url_for('category',url=category['category_url'])}}">{{category['category_name']}}</a>
            </li>
           {% endfor %}
            <li class="btn">
              {% if 'user_id' in session %}
              <a href="{{url_for('newPost')}}">İçerik ekle</a>
              <a href="{{url_for('logout')}}">Çıkış yap</a>

              {% else %}
              <a href="{{url_for('login')}}">Giriş yap</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main container">
      <h3>{{category['category_name']}}</h3>
      <div class="articles">
        {% for post in posts %}
        <article>
          <h4>{{post['post_title']}}</h4>
          <ul>
            <li><span class="time">2 gün önce</span></li>
            <li><span class="user">{{post['user_name']}}</span></li>
            <li><span class="category">{{post['category_name']}}</span></li>
          </ul>
          <a href="{{ url_for('post', url=post['post_url']) }}" class="show-btn"
            >Görüntüle</a
          >
        </article>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
