<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="{{url_for('home')}}" class="logo"> Blog </a>
        <nav>
          <ul>
            {% for category in categories() %}
            <li>
              <a href="#">{{category['category_name']}}</a>
            </li>
            {% endfor %}
            <li>
              <a href="{{url_for('login')}}">Giriş yap</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main container">
      <h3>Giriş yap</h3>

      <form action="" method="POST" class="form">

        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}
    
        <ul>
            <li>
                <label for="username">E-posta</label>
                <input type="email" name="email" value="{{ request.form['email'] }}">
            </li>
            <li>
                <label for="password">Şifre</label>
                <input type="password" name="password" value="{{ request.form['password'] }}">
            </li>
            <li>
                <button type="submit">Giriş yap</button>
            </li>
        </ul>
        <span class="or">hesabın yok mu?</span>
        <a href="{{ url_for('register') }}" class="form-url">Hemen kayıt ol!</a>
    </form>
    </main>
  </body>
</html>
