<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="{{url_for('home')}}" class="logo"> Blog </a>
        <nav>
          <ul>
            {% for category in categories() %}
            <li>
              <a href="#">{{category['category_name']}}</a>
            </li>
           {% endfor %}
            <li>
              <a href="{{url_for('login')}}">Giriş yap</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main container">
      <h3>Kayıt ol</h3>

    <form action="" method="POST" class="form">
      <ul>
        <li>
          <label for="username">Ad-soyad</label>
          <input type="text" name="username" id="" />
        </li>
        <li>
          <label for="email">E-posta</label>
          <input type="email" name="email" id="" />
        </li>
        <li>
          <label for="password">Şifre</label>
          <input type="password" name="password" id="" />
        </li>
        <li>
          <label for="re_password">Şifre (Tekrar)</label>
          <input type="password" name="re_password" id="" />
        </li>
        <li>
          <button type="submit">Kayıt ol</button>
        </li>
      </ul>
      <span class="or">hesabın var mı?</span>
      <a href="{{url_for('login')}}" class="form-url">Login</a>
    </form>
  </main>

  </body>
</html>
